<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-push-2">
      <div class="row">
        <img ng-src="../demo-data/flags/{{cdc.country.code | lowercase}}.png" class="flag">

        <h1>{{cdc.country.name}}</h1>

        <p>Capital: {{cdc.country.capital}}</p>
        <p>Largest City: {{cdc.country.largest_city}}</p>
        <p>Area (sq.mi.): {{cdc.country.area_sq_mi}}</p>
        <p>GDP (total): {{cdc.country.gdp.total}}</p>
        <p>GDP (per capita): {{cdc.country.gdp.per_capita}}</p>
      </div>
    </div>
  </div>
</div>
