<!doctype html>
<html lang="en" ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <title>Tab Set Example</title>
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
  <div class="container-fluid">
    <p><a href="https://docs.angularjs.org/guide/component">Component docs</a></p>

    <div class="row">
      <div class="col-md-8 col-push-md-2">

        <my-tabs>
          <my-pane title="Hello">
            <h4>Hello</h4>
            <p>Lorem ipsum dolor sit amet</p>
          </my-pane>
          <my-pane title="World">
            <h4>World</h4>
            <em>Mauris elementum elementum enim at suscipit.</em>
            <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
          </my-pane>
        </my-tabs>

      </div>
    </div>
  </div>

  <script src="../lib/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="tabs.js"></script>
</body>
</html>
