<div class="card">
  <div>Country Code: {{cc.country.countryCode}}</div>
  <div>Country Name: {{cc.country.countryName}}</div>
  <div>Population: {{cc.country.population}}</div>
  <div>Capital: <input ng-model="cc.country.capital"></div>
  <div>Area: {{cc.c.areaInSqKm}} sq.km</div>
</div>
