<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Country List</title>
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <div class="container">
    <p><a href="https://docs.angularjs.org/api/ng/directive/ngRepeat">ngRepeat binding docs</a></p>
    <h2>Large Countries</h2>
    <ul ng-controller="CountryController as cc">
      <li ng-repeat="country in cc.countries" class="country">
        <span><b>{{country.countryName}}</b></span>
        <div>Capital: {{country.capital}}</div>
        <div>Population: {{country.population}}</div>
        <div>Area (sq.km): {{country.areaInSqKm}}</div>
      </li>
    </ul>
  </div>
  <script src="../lib/angular/angular.js"></script>
  <script src="app.js"></script>
</body>
</html>
