<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Largest Countries</title>
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <div class="container"  ng-controller="CountryController as cc">
    <p><a href="https://docs.angularjs.org/api/ng/filter">filter docs</a></p>

    <div class="row">
        <div ng-bind="'i am in the template in lowercase' | uppercase"></div>
        <div ng-bind="'I AM IN THE TEMPLATE IN UPPERCASE' | lowercase"></div>
        <div ng-bind="1234567890 | number"></div>
        <pre ng-bind="cc.data | json"></pre>
        <div ng-bind="123 | currency:'$'"></div>
        <div ng-bind="123 | currency:'£'"></div>
        <div ng-bind="123 | currency:'€':2"></div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-4">

        Search: <input ng-model="cc.query.countryName">
        <!-- Features for later steps: filter on certain fields, case insensitive filter -->

      </div>
      <div class="col-md-8">

        <ul>
          <li ng-repeat="country in cc.countries | filter:cc.query">
            <span><b>{{country.countryName}}</b></span>
            <div>Capital: {{country.capital}}</div>
            <div>Population: {{country.population}}</div>
            <div>Area (sq.km): {{country.areaInSqKm}}</div>
          </li>
        </ul>

        <pre>{{cc.countries | filter:cc.query | json}}</pre>

        <!--
        Real:       ng-repeat="country in cc.countries | filter:cc.query"
        Understand: ng-repeat="country in (cc.countries | filter:cc.query)"
                    country in filter(cc.countries, cc.query)
        -->
      </div>
    </div>
  </div>

  <script src="../lib/angular/angular.js"></script>
  <script src="application.js"></script>
</body>
</html>
