<section>
  <div ng-repeat="a in bc.addresses">
    <address-entry label="{{a.heading}} Address" addr="a" duplicate="bc.addExisting(newAddress)"></address-entry>
  </div>
  <button ng-click="bc.addNew()">Add Address for {{bc.purpose}}</button>
  <button ng-click="bc.update()">Reset Purpose</button>
</section>
