<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Modules Example</title>
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <div class="container-fluid">
    <p><a href="https://docs.angularjs.org/guide/module">Module docs</a></p>

    <div class="row">
      <div class="col-md-6" ng-controller="PersonController as pc">
        <h3>Name is {{pc.name}}</h3>
        <h3>Cards:</h3>
        <card-block ng-repeat="d in pc.deck"></card-block>

        <div class="clearfix"></div>

        <p>It works, nothing special here.<p>
      </div>

      <div class="col-md-6">
        <h3>Wrapper:</h3>
        <wrapper>
          <p>This paragraph is short and to the point, which is that
            it is just filler.</p>
            <p ng-controller="MathController as mc">
              <input ng-model="mc.x" size="4">
              +
              <input ng-model="mc.y" size="4">
              =
              {{mc.add(mc.x, mc.y)}}
            </p>
        </wrapper>
      </div>
    </div>
  </div>

  <script src="../lib/angular/angular.js"></script>
  <!-- What if we change the order of the files? -->
  <script src="app.js"></script>
  <script src="card.js"></script>
  <script src="person.js"></script>
  <script src="wrapper.js"></script>
  <script src="math.js"></script>
</body>
</html>
