<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Dependency Injection</title>
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="ProviderController as pc">
  <p><a href="https://docs.angularjs.org/guide/di">DI docs</a></p>
  <div>Settings:</div>
  <pre>{{pc.settings | json}}</pre>

  <script src="../lib/angular/angular.js"></script>
  <script src="app.js"></script>
</body>
</html>
