<div class="container-fluid">
  <p><a href="https://docs.angularjs.org/guide/directive">Directive Guide in the Angular documentation</a></p>
  <div class="row">
    <div class="col-md-6 col-md-push-3">

      <h3>Address Book for {{eac.purpose}}:</h3>
      <address-book purpose="{{eac.purpose}}" update-purpose="eac.resetPurpose()"></address-book>

    </div>
  </div>
</div>
