<!doctype html>
<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8">
  <title>Component Demo App</title>
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
</head>

<body>
  <div class="outline" ng-controller="OuterController as oc">
    <h1>Outside Country Thing</h1>
    <hr>
    <div ng-repeat="country in oc.countries">
      <h2>{{country.countryName}}</h2>
      <p>Population: {{country.population}}</p>
    </div>
    <country-thing></country-thing>
  </div>
  <script src="../lib/angular/angular.js"></script>
  <script src="app.js"></script>
</body>

</html>
