<div class='panel panel-default'>
  <div class="panel-heading">
    <button ng-click="ec.show = !ec.show">...</button>
    {{ec.heading}}
  </div>
  <div class="panel-body" ng-if="ec.show">
    <!-- Sometimes people use the attribute form just to avoid repetition. -->
    <div ng-transclude></div>
  </div>
</div>
