<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My First Angular 1 App</title>
</head>
<body>
  <p><a href="https://docs.angularjs.org/guide/introduction">Documentation Introduction</a></p>
  <p>How does {{'AngularJS ' + 'work?'}}</p>
  <script src="../lib/angular/angular.js"></script>
</body>
</html>
