<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Promise Trees</title>
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="CountryController as cc">
  <div class="container-fluid">
    <p><a href="https://docs.angularjs.org/api/ng/service/$http">http docs</a></p>
    <p>One request, three tasks</p>
    <button ng-click="cc.login()">Login</button>
    <span>Login Status: {{cc.loginStatus}}</span>
    <div ng-show="cc.loginStatus">
      Login Data Shown Here
      {{cc.loginData}}
    </div>
  </div>

  <script src="../lib/angular/angular.js"></script>
  <script src="ajax.js"></script>
</body>

</html>
